.list {
  margin-left: 1.5rem;
  > div {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 6px rgb(48, 4, 97);
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
