.list {
  margin-top: 1rem;
  > div {
    background-color: rgba(83, 23, 121, 0.537);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 6px rgb(48, 4, 97);
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
